{% load i18n %}
<div id="expform" class="hidableContainer">
  {% if experiments %}
  <h1 class="toggleBtn">{% trans 'New experiment' %}</h1>
  {% endif %}
  <form method="post" id="expForm" {% if experiments %}class="hidable"{% endif %}>
    {% csrf_token %}
    <table class="experiment">
      <tr class="title">
	<th><label for="id_title">{% trans 'Title:' %}</label></th>
	<td colspan="3">
	  {{ ef.title.errors }}
	  <input type="text" name="title" maxlength="140" required id="id_title" value="{{ef.title.value|default_if_none:''}}"/>
	</td>
	<th><label for="id_summary">{% trans 'Summary:' %}</label></th>
	<td colspan="3">
	  {{ ef.summary.errors }}
	  <input type="text" name="summary" maxlength="25" required id="id_summary" value="{{ef.summary.value|default_if_none:''}}"/>
	</td>
      </tr>
      <tr>
	<th><label for="id_sessionDuration">{% trans 'Session<br/>Timeslot (s):' %}</label></th>
	<td>
	  {{ ef.sessionDuration.errors }}
	  <input type="number" name="sessionDuration" required id="id_sessionDuration" style="width: 5em" value="{{ef.sessionDuration.value}}"/>
	</td>
	<th><label for="id_channels">{% trans 'Channels:' %}</label></th>
	<td>
	  {{ ef.channels.errors }}
	  <input type="text" name="channels" maxlength="50" required id="id_channels" value="{{ef.channels.value|default_if_none:''}}"/>
	</td>
	<th><label for="id_duration">{% trans 'Experiment duration (s):' %}</label></th>
	<td>
	  {{ ef.duration.errors }}
	  <input type="number" name="duration" step="any" required id="id_duration"  style="width: 5em" value="{{ef.duration.value|default_if_none:''}}"/>
	</td>
	<th><label for="id_nInterval">{% trans 'Intervals:' %}</label></th>
	<td>
	  {{ ef.nInterval.errors }}
	  <input type="number" name="nInterval" required id="id_nInterval"  style="width: 5em" value="{{ef.nInterval.value|default_if_none:''}}"/>
	</td>
      </tr>
      <tr>
	<th style="width: 80px;"><label for="id_python">
	    {% trans 'Python:' %}
	    <p class="pythonParams">
	      {% trans "the source contains the experiment's parameters symbols, as constant values." %}
	    </p>
	    {% if params %}
	    <hr style="width: 60%; background-color: orange; margin: auto;"/>
	    <p class="pythonParams">
	      {% trans 'List of symbols:' %}
	    </p>
	    <ul class="pythonParams">
	      {% for p in params %}
	      <li>{{p.symbol}}</li>
	      {% endfor %}
	    </ul>
	    {% endif %}
	</label></th>
	<td colspan="7">
	  {{ ef.python.errors }}
	  <textarea class="python" name="python" cols="90" rows="10" required id="id_python">{{ef.python.value|default_if_none:''}}</textarea>
	</td>
      </tr>
      <tr><td colspan="8"><div style="width: 16em; margin: 0 auto;">
	    {{ ef.non_field_errors }} 
	    <button id="submitButton" type="submit">
	      {% if experiments %}
	      {% trans 'Create experiment' %}
	      {% else %}
	      {% trans 'Save modifications' %}
	      {% endif %}
	    </button>
      </div></td></tr>
    </table>
    <input type="hidden" name="expId" value="{{expId}}"/>
  </form>
</div>
