{% load i18n %}
	<tr id="row_experiment_{{er.pk}}">
	  <td>
	    {% trans 'Experiment' %}
	    &laquo;&nbsp;{{er.paramSet.exp.title}}&nbsp;&raquo;
	    <br/>
	    {% trans 'Parameter set' %}
	    &laquo;&nbsp;{{er.paramSet.name}}&nbsp;&raquo;
	  </td>
	  <td>{{er.whenCreated}}</td>
	  <td>{{er.paramSet.widgetReadOnly}}</td>
	  <td>
	    <div class="btn" onclick="deleteExpRecord({{er.pk}})">
	      {% trans 'Delete' %}
	    </div>
	    <a class="btn" target="_expWindow"
	       title="{% trans 'click here to open another window with the data' %}"
	       href="/exp0/viewExpRecord?date={{er.whenCreated|date:'c'|urlencode}}">
	      {% trans 'View' %}
	    </a>
	  </td>
	</tr>
