{% extends 'base.html' %}
{% load i18n %}

{% block htmlHeader %}
<script type="text/javascript" src="/static/remoteLab.js"></script>
<script src="/static/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror/codemirror.css"/>
<script src="/static/codemirror/mode/python/python.js"></script>
<link rel="stylesheet" href="/static/jsxgraph/distrib/jsxgraph.css"/>
<script src="/static/jsxgraph/distrib/jsxgraphcore.js"></script>
{% endblock %}

{% block title %}
{% trans "EYES17 experiments' record" %}
{% endblock %}

{% block content %}
<h1>
  {% trans "EYES17 experiments' record:" %}
  <span class="expTitle">"{{er.paramSet.exp.title}}"</span>
  ({{er.whenCreated}})
</h1>
<div>
  <h2>
    <span class="btn" onclick="stdoutCp()">
      {% trans 'Copy to Clipboard' %}
    </span>
    {% trans 'Standard output ... and its automatic plot' %}
  </h2>
  <textarea id="stdout" rows="26" cols="40" disabled="disabled">{{er.stdout}}</textarea>
  <div id="plot"></div>
  <script type="text/javascript">
    // to be called when #plot is defined
    stdoutPlot();
  </script>
</div>
<div>
  <h2>{% trans 'System error output' %}</h2>
  <textarea id="stderr" rows="3" cols="40" disabled="disabled">{{er.stderr}}</textarea>
</div>
<div>
  <h2>{% trans 'Video record' %}</h2>
  <video src="{{er.videoUrl}}" controls>
    {% trans 'Your browser does not manage the element <code>video</code>.' %}
  </video>
</div>

{% endblock %}
