{% extends 'base.html' %}
{% load i18n %}

{% block htmlHeader %}
<script type="text/javascript" src="/static/manage.js"></script>
<script src="/static/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror/codemirror.css"/>
<script src="/static/codemirror/mode/python/python.js"></script>
{% endblock %}

{% block title %}
{% trans "Welcome to EYES17 experiments" %}
{% endblock %}

{% block content %}
{% if experiments %}
<h1>{% trans "Available experiments" %}</h1>
{% for e in experiments %}
<table class="experiment hidableContainer">
  <tr class="title">
    <th colspan="8" class="toggleBtn">
      {{e.title}}
      <div class="active-{{e.active}}" title="active = {{e.active}}"></div>
    </th>
    <td rowspan="6" class="hidable actions">
      <h1>{% trans "Actions" %}</h1>
      <h2 class="edit" data-exp-id="{{e.pk}}">{% trans "Edit" %}</h2>
      <h2 class="active" data-exp-id="{{e.pk}}">{% trans "(in)Activate" %}</h2>
      <h2 class="dupli" data-exp-id="{{e.pk}}">{% trans "Duplicate" %}</h2>
      <h2 class="delete" data-exp-id="{{e.pk}}">{% trans "Delete" %}</h2>
    </td>
  </tr>
  <tr class="summary hidable">
    <td colspan="8">
      <b>{{e.summary}}</b>
      <a class="viewRst btn" href="viewSummary?rst={{e.summary}}" target="_rstViewer_" title="{% trans 'View this file, rendered as styled HTML in another window or tab.' %}">{% trans 'View' %}</a>
      <a class="downloadRst btn" href="dlSummary?rst={{e.summary}}" title="{% trans 'Download the source ReSructuredText file to modify it in a suitable editor.' %}">{% trans 'Download' %}</a>
    </td>
  </tr>
  <tr class="otherdata hidable">
    <th>{% trans 'Session timeslot (s):' %}</th><td>{{e.sessionDuration}}</td>
    <th>{% trans 'Channels:' %}</th><td>{{e.channels}}</td>
    <th>{% trans 'Experiment duration (s):' %}</th><td>{{e.duration}}</td>
    <th>{% trans 'Intervals:' %}</th><td>{{e.nInterval}}</td>
  </tr>
  <tr class="parameters hidable">
    <th>{% trans 'Parameters' %}</th>
    <td class="parameters" colspan="7">
      {% for p in e.params %}
      <div class="parameter btn" data-id="{{p.pk}}" data-symbol="{{p.symbol}}" data-minval="{{p.minval}}" data-maxval="{{p.maxval}}" data-option="{{p.option}}" data-comment="{{p.comment}}" onclick="editParam(this)" title="{% trans 'Edit parameter' %} {{p.symbol}}">
	{{p.symbol}}
      </div>
      {% endfor %}
      &nbsp;&nbsp;&nbsp;
      <div class="parameter btnPlus" data-exp="{{e.pk}}" data-id="" onclick="editParam(this)" title="{% trans 'Create a new parameter' %}">
	++
      </div>
     
    </td>
  </tr>
  <tr class="title hidable"><th colspan="8">{% trans 'Python code' %}</th></tr>
  <tr class="code hidable">
    <td colspan="8">
      <textarea class="python readonly">{{e.python}}</textarea>
    </td>
  </tr>
</table>
{% endfor %}
{% endif %}

{% include "experimentform.html" %}

<form id="h" method="post" style="display:none;">
  <!-- this hidden form posts the expId of an experiment we want to edit -->
  {% csrf_token %}
  <input type="text" name="expId2edit" value=""/>
</form>

<div id="paramDialog" style="display: none;">
  <input type="hidden" name="id" />
  <input type="hidden" name="exp" />
  <table>
    <tr><th>{% trans 'Symbol:' %}</th>
      <td><input type="text" name="symbol" /></td>
    </tr>
    <tr><th>{% trans 'Minimum value:' %}</th>
      <td><input type="text" name="minval" /></td>
    </tr>
    <tr><th>{% trans 'Maximum value:' %}</th>
      <td><input type="text" name="maxval" /></td>
    </tr>
    <tr><th>{% trans 'Option:' %}</th>
      <td><input type="text" name="option" /></td>
    </tr>
    <tr>
      <td colspan="2">
	<h2>{% trans 'Comments:' %}</h2>
	<textarea name="comment" rows="4" cols="40"></textarea>
      </td>
    </tr>
  </table>
</div>

{% endblock %}
