{% extends 'base.html' %}
{% load i18n %}

{% block htmlHeader %}
<script type="text/javascript" src="/static/remoteLab.js"></script>
<script src="/static/codemirror/codemirror.js"></script>
<link rel="stylesheet" href="/static/codemirror/codemirror.css"/>
<script src="/static/codemirror/mode/python/python.js"></script>
{% endblock %}

{% block title %}
{% trans 'Welcome to EYES17 experiments' %}
{% endblock %}

{% block content %}
{% if not exp %}
<h1>{% trans 'No active experiment, please come back later' %}</h1>
{% if scientists %}
<p>
  {% blocktrans %}
  Here are names and e-mail addresses of people who can publish
  experiments on this website:
  {% endblocktrans %}
</p>
<ul>
  {% for s in scientists %}
  <li>{{s.first_name}} {{s.last_name}} &lt;<a href="mailto:{{s.email}}">{{s.email}}</a>&gt;</li>
  {% endfor %}
</ul>
{% endif %}
{% else %}
<div class="tabbed">
  <h1>{% trans 'Active experiment:' %} {{exp.title}}</h1>

 
  <input name="tabbed" id="tabbedSummary" type="radio">
  <section>
    <h1>
      <label for="tabbedSummary">{% trans 'Summary' %}</label>
    </h1>
    <div id="summaryFrame">
      <iframe src="{{exp.summaryHtmlUrl}}" class="expandableV"></iframe>
    </div>
  </section>

  
  <input name="tabbed" id="tabbedParams" type="radio" checked>
  <section>
    <h1>
      <label for="tabbedParams">{% trans 'Parameters' %}</label>
    </h1>
    <div id="parameterFrame" class="expandableV">
      {% if params %}
      <h1>{% trans 'Remotely modifiable parameters' %}</h1>
      <h2 id="paramSetTitle">{% trans 'New parameters' %}</h2>
      <form method="post" onsubmit="return recordParams(this)">
	{% csrf_token %}
	<input type="hidden" id="exp" value="{{exp.pk}}" />
	<input type="hidden" id="user" value="{{user.pk}}" />
	<div class="hiddenForJavascript" id="rsettings" style="display:none;">
	  {% trans 'Recorded settings:' %}
	</div>
	<div class="hiddenForJavascript" id="forget" style="display:none;">
	  {% trans '(Forget it?)' %}
	</div>
	
	<table class="paramList experiment">
	  <tr>
	    <th>{% trans 'Symbol' %}</th>
	    <th class="commentColumn">{% trans 'Comment' %}</th>
	    <th>{% trans 'Settings' %}</th>
	  </tr>
	  {% for p in params %}
	  <tr class="paramRow">
	    <th>{{p.symbol}}</th>
	    <td class="commentColumn">{{p.comment}}</td>
	    <td>
	      {{p.widget}}
	    </td>
	  </tr>
	  {% endfor %}
	</table>
	<input type="submit" value="{% trans 'Record settings' %}"/>
	<select id="records" onchange="recordChanged(this)"
		style="display: {% if records %}inline{% else %}none{% endif %}"
		>
	  <option class="default">{% trans 'Choose a recorded set' %}</option>
	  {% for r in records %}
	  <option value="{{r.pk}}">
	    {{r}}
	  </option>
	  {% endfor %}
	</select>
      </form>
      {% else %}
      <h1>
	{% trans 'This experiment features no remotely modifiable parameters.' %}
      </h1>
      {% trans 'So, you can safely ignore this tab.' %}
      {% endif %}
      <div id="paramDialog" style="display: none;">
	<label for="name">{% trans 'Name:' %}</label>
	<input id="name" type="text"/>
      </div>
    </div>
  </section>
 
  <input name="tabbed" id="tabbedControl" type="radio">
  <section>
    <h1>
      <label for="tabbedControl">{% trans 'Control panel' %}</label>
    </h1>
    <div id="controlDiv" style="position:relative;">
      <div id="paramsReadOnly">
	<h2>{% trans 'set of parameters in use' %}</h2>
	<table class="paramList experiment">
	  <tr>
	    <th>{% trans 'Symbol' %}</th>
	    <th class="commentColumn">{% trans 'Comment' %}</th>
	    <th>{% trans 'Settings' %}</th>
	  </tr>
	  {% for p in params %}
	  <tr class="paramRow">
	    <th>{{p.symbol}}</th>
	    <td class="commentColumn">{{p.comment}}</td>
	    <td>
	      <!-- read only current setting for this parameter -->
	      <span class="currentSetting" id="ro-{{p.symbol}}"></span>
	    </td>
	  </tr>
	  {% endfor %}
	</table>
	<div id="emptyRecord2">
	  <h3>{% trans 'No parameter set defined yet.' %}</h3>
	  {% trans 'Go to the panel "Parameters" and record at least one set
	  of parameters.' %}
	</div>
	<select id="records2" onchange="record2Changed()"></select>
      </div>
      <div id="webcam">
	<h2>{% trans 'Webcam' %}</h2>
	<img src="/exp0/imageWebcam"
	     alt="This image is refreshed every two seconds"/>
      </div>
      <div style="clear:both"></div>
      <div id="goDivision">
	<h2>{% trans 'commands (go, reset, etc.)' %}</h2>
	<h3>{% trans 'Source of the program' %} "{{exp.title}}"</h3>
	<textarea class="python" id="pythonWithParams" cols="55" rows="10"></textarea>
	<div id="goButton" onclick="goFunction()" title="{% trans 'Click to launch the program' %}">GO</div>
	<div id="wait" style="display:none;">
	  <h1>{% trans 'The remote experiment is running... this can take some time' %}</h1>
	</div>
      </div>
      <div id="eyesOutput">
	<div>
	  <h2>{% trans 'Standard output' %}</h2>
	  <textarea id="stdout" rows="5" cols="50" disabled="disabled"></textarea>
	</div>
	<div>
	  <h2>{% trans 'System error output' %}</h2>
	  <textarea id="stderr" rows="3" cols="50" disabled="disabled"></textarea>
	</div>
	<div>
	  <h2>{% trans 'Video record' %}</h2>
	  <a id="videofile" href="" class="btn"
	     style="display:none;" target="_expVideo">
	    {% trans 'Download the video in few seconds' %}
	  </a>
	</div>
      </div>
      <div style="clear:both">&nbsp;</div>
    </div>
  </section>

 
  <input name="tabbed" id="historyPanel" type="radio">
  <section>
    <h1>
      <label for="historyPanel">{% trans 'History of experiments' %}</label>
    </h1>
    <div class="expandableV">
      {% if expRecords %}
      <table id="expRecords" class="experiment">
	<tr>
	  <th colspan="4">
	    {% trans 'Experiments which you launched remotely' %}
	  </th>
	</tr>
	<tr>
	  <td>{% trans 'Title of the experiment<br/>and parameter set' %}</td>
	  <td>{% trans 'Date/time' %}</td>
	  <td>{% trans 'Parameter values' %}</td>
	  <td>{% trans 'Control' %}</td>
	</tr>
	<!-- next lines of this table are not in the original web page   -->
	<!-- they are added on the fly by the function refreshExpRecords -->
	<!-- which posts to /exp0/refreshExpRecords and builds rows      -->
	<!-- based on the template "expRecordRow.html"                   -->
      </table>
      {% else %}
      <h1>{% trans 'No experiment has been launched by you so far' %}</h1>
      <p>
	{% blocktrans %}
	To launch an experiment, first define its parameters'values
	(PARAMETERS panel), then choose one set of parameters and launch
	it (CONTROL panel). Please launch a few experiments and come here
	back.
	{% endblocktrans %}
      </p>
      {% endif %}
    </div>
  </section>

  <!-- and so on -->

</div>

{% endif %}

{% endblock %}
