/* base.css */

#nav {
    width: 100%;
    min-height: 60px;
    background: orange;
    border-radius: 5px;
    margin-bottom: 20px;
}

#nav .name{
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 5px;
    font-weight: bold;
}

#nav .lightTitle{
    margin-top: 1px;
    margin-bottom: 1px;
    background: rgba(255,255,255,0.2);
}

#nav #userData, #nav .dropbtn {
    background: orange;
    background-image: linear-gradient(to bottom, orange, peachpuff);
    border-radius: 3px;
}

#nav #userData ul{
    margin-top: 1px;
    margin-bottom: 1px;
}

.clearBoth{
    clear: both;
    height: 1px;
}

.ddRight {
    float: right;    
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
    min-width: 150px;
    z-index: 5;
}

.middleButton {
    padding-top: 20px;
    font-size: 140%;
    font-weight: bold;
    margin: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1d181;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: orange}

.ddRight:hover .dropdown-content {
    display: block;
}

.ddRight:hover .dropbtn {
    background-color: #3e8e41;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#bodyContent{
    margin: 0px 25px ;
    background: #fff8f0;
    padding: 5px;
    border-radius: 5px;
}

table.experiment{
    background: orange;
    margin: 10px;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 5px 3px;
}

table.experiment th, td{
    background: rgba(255,255,255,0.9);
    margin: 3px;
    border-radius: 8px;
}

table.experiment tr.title th{
    text-align: center;
    font-size: 140%;
}

table.experiment .ui-slider-handle {
    width: 8px;
    height: 30px;
    top: -12px;
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, orange 26ppx);
}

table.experiment .ui-slider-range {
    background: #ffe5b4;
}

table.experiment .ui-slider.ui-widget-content {
    background: #efffff;
}


.toggleBtn{
    cursor: pointer;
}

.toggleBtn:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    background: rgba(255,200,0,0.5) url(/static/jquery-ui/css/smoothness/images/ui-icons_777777_256x240.png) no-repeat -16px -80px; /* column 1, row 5 */
}

table.experiment .actions h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

table.experiment .actions h2 {
    font-size: 20px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 3px;
    border-radius: 3px;
}

table.experiment .actions h2.edit:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    background: rgba(255,200,0,0.5) url(/static/jquery-ui/css/smoothness/images/ui-icons_777777_256x240.png) no-repeat -64px -112px; /* column 4, row 7 */
}

table.experiment .actions h2.delete:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    background: rgba(255,200,0,0.5) url(/static/jquery-ui/css/smoothness/images/ui-icons_777777_256x240.png) no-repeat -176px -96px; /* column 11, row 6 */
}

table.experiment .actions h2.active:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    background: rgba(255,200,0,0.5) url(/static/jquery-ui/css/smoothness/images/ui-icons_777777_256x240.png) no-repeat -64px -144px; /* column 4, row 9 */
}

table.experiment .actions h2.dupli:before{
    content: '';
    display: inline-block;
    margin-right: 5px;
    height: 16px;
    width: 16px;
    position: relative;
    background: rgba(255,200,0,0.5) url(/static/jquery-ui/css/smoothness/images/ui-icons_777777_256x240.png) no-repeat -144px 0px; /* column 9, row 0 */
}

div.active-True {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    margin: 5px;
    border: 2px orange solid;
    background: radial-gradient( 5px -9px, circle, white 8%, green 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, green 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, green 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, green 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, green 26px );
}

div.active-False {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 14px;
    margin: 5px;
    border: 2px orange solid;
    background: radial-gradient( 5px -9px, circle, white 8%, darkred 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, darkred 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, darkred 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, darkred 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, darkred 26px );
}

.viewRst, .downloadRst {
    float: right;
    color: #333;
}

a.ifgroup.disabled {
    pointer-events: none;
    color: rgba(0,0,0,0.3);
}

table.paramList td.commentColumn{
    width: 180px;
}

table.paramList td,  table.paramList th {
    vertical-align: middle;
}

pre.license {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 50px;
    display: inline-block;
    padding: 10px;
}

p.license {
    margin-left: 50px;
    width: 65ex;
    display: inline-block;
}

textarea.python.readonly ~ div.CodeMirror{
    height: 80px !important;
}

textarea.python#pythonWithParams ~ div.CodeMirror{
    height: 160px !important;
}

.btn {
    display: inline-block;
    border: 2px solid orange;
    border-radius: 14px;
    padding: 3px 4px 3px 4px;
    margin: 0px 3px;
    text-align: center;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    cursor: pointer;
}

.btnPlus { /* more saturated color */
    display: inline-block;
    border: 2px solid orange;
    border-radius: 14px;
    padding: 3px 4px 3px 4px;
    margin: 0px 3px;
    text-align: center;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background: radial-gradient( 5px -9px, circle, white 8%, #fd9a41 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, #fd9a41 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, #fd9a41 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, #fd9a41 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, #fd9a41 26px );
}

.btn:hover, .btnPlus:hover{
    color: black;
    background: radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, orange 26px );
}

p.pythonParams {
    font-weight: normal;
}

ul.pythonParams{
    padding-left: 20px;
}

ul.pythonParams li {
    list-style-type: circle;
    font-weight: normal;
    font-family: "Courier New", monospace;
}

div#welcomeUser {
    border: 5px orange solid;
    border-radius: 14px;
    padding: 10px;
}

/**
 * the tabbed CSS stylin comes from 
 * http://code.iamkate.com/html-and-css/tabbed-panels/
 **/

.tabbed{
    float         : left;
    box-sizing    : border-box;
    width         : 100%;
    margin-bottom : 1.5em;
    background    : #fff8f0;
    padding: 5px;
    border-radius: 5px;
}

.tabbed > input{
    display : none;
}

.tabbed > section > h1{
    float       : left;
    box-sizing  : border-box;
    margin      : 0;
    padding     : 0.5em 0.5em 0;
    overflow    : hidden;
    font-family : inherit;
    font-size   : 1em;
    font-weight : normal;
}

.tabbed > input:first-child + section > h1{
    padding-left : 1em;
}

.tabbed > section > h1 > label{
    display                 : block;
    padding                 : 0.25em 0.75em;
    border                  : 1px solid #ddd;
    border-top-left-radius  : 4px;
    border-top-right-radius : 4px;
    box-shadow              : 0 0 0.5em rgba(0,0,0,0.0625);
    background              : #fff;
    font-size:120%;
    cursor                  : pointer;
    -moz-user-select     : none;
    -ms-user-select     : none;
    -webkit-user-select     : none;
}

.tabbed > section > div{
    position      : relative;
    z-index       : 1;
    float         : right;
    box-sizing    : border-box;
    width         : 100%;
    margin        : 2.5em 0 0 -100%;
    padding       : 0.5em 0.75em;
    border        : 1px solid #ddd;
    border-radius : 4px;
    /* box-shadow    : 0 0 0.5em rgba(0,0,0,0.0625); */
    box-shadow    : 0 0 0.5em rgba(0,0,0,0.2);
    background    : #fff;
}

.tabbed > input:checked + section > h1{
    position : relative;
    z-index  : 3;
}

.tabbed > input:checked + section > h1 > label{
    border-bottom : none;
}

.tabbed > input:not(:checked) + section > div{
    display : none;
}

/* styles for the command panel */

#paramsReadOnly {
    float: left;
    height: 360px;
    width: 45%;
    margin-left: 3%;
    background: #fff8f0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#webcam {
    float: right;
    height: 360px;
    width: 45%;
    margin-right: 3%;
    background: #fff8f0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#webcam img {
    width: 360px;
    height: 270px;
    margin-top: 20px;
    margin-left: 30px;
}

#goDivision {
    float: left;
    height: 360px;
    width: 45%;
    margin-left: 3%;
    background: #fff8f0;
    padding: 5px;
    border-radius: 5px;
}

#eyesOutput {
    float: right;
    height: 360px;
    width: 45%;
    margin-right: 3%;
    background: #fff8f0;
    padding: 5px;
    border-radius: 5px;
}

#goButton {
    width: 60px;
    height: 60px;
    margin-top: 24px;
    margin-left: 24px;
    border-radius: 40px;
    padding-top: 14px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    background: -moz-radial-gradient( 15px 15px, circle, white 8%, orange 26px );
    background: -ms-radial-gradient( 15px 15px, circle, white 8%, orange 26px );
    background: -o-radial-gradient( 15px 15px, circle, white 8%, orange 26px );
    background: -webkit-radial-gradient( 15px 15px, circle, white 8%, orange 26ppx);
}

/* disabled textareas and input */
#stdout, #stderr {
    background: white;
    color: #333;
}

#wait {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10000;
    background: rgba(120,120,120,0.5);
    background-image: url('/static/wait.gif');
    background-repeat:no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#wait h1 {
    background: white;
    margin: 100px auto;
    width: 400px;
    text-align: center;
    padding: 1em;
    border-radius: 1em;
}

#wait img {
    width: 156px;
    height: 359px;
    margin: auto;
    margin-top: auto;
    display: block;
}

#expRecords .key {
    display: inline-block;
    border: 2px solid orange;
    border-radius: 14px;
    padding: 3px 4px 3px 4px;
    margin: 0px 3px;
    text-align: center;
    min-width: 16px;
    background: radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -moz-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -ms-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -o-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
    background: -webkit-radial-gradient( 5px -9px, circle, white 8%, peachpuff 26px );
}

#expRecords tr:nth-child(1) th{
    font-size: 140%;
    text-align: center;
    padding: 1em;
}

#expRecords tr:nth-child(2) td{
    font-size: 120%;
    text-align: center;
    padding: 1em;    
}

h1 .expTitle {
    color: black;
    text-decoration: underline;
}

#plot{
    display: inline-block;
    width: 500px;
    height: 500px;
    background: white;
    margin-left: 20px;
}
