{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Page not found' %}
{% endblock %}

{% block content %}
<h1>{% trans 'OUPS, the page `{{path}}` does no exist!' %}</h1>
<p><a href="/">{% trans 'Go back to the home page' %}</a>.</p>
{% endblock %}
