{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'About MENSU' %}{% endblock %}

{% block content %}
<h2>{% trans 'This is MENSU,' %} version {{version.upper}}.{{version.lower}}</h2>
<p>{% trans 'Codename:' %} {{version.codename}}</p>

{% endblock %}
