{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      {% block title %}
      {% trans 'Base HTML title' %}
      {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/base.css"/>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <link rel="stylesheet" type="text/css" href="/static/jquery-ui/css/smoothness/all.css" />
    <script type="text/javascript" src="/static/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/jquery-ui/jquery-ui.js"></script>
    {% block htmlHeader %}
    <!-- no default HTML header extensions there -->
    {% endblock %}
    <script type="text/javascript" src="/static/base.js"></script>
  </head>
  <body>
    {% block nav %}
    <div id="nav">
      <!-- User data, with user-related links, like "logout" -->
      <input type="hidden" id="userpk" value="{{user.pk}}"/>
      <div class="ddRight">
	{% if user.is_authenticated %}
	<div id="userData">
	  <p class="name">{{user.first_name}} {{user.last_name}}</p>
	  {% if user.groups.all %}
	  <ul>
	    {% for g in user.groups.all %}
	    <li>{{g}}</li>
	    {% endfor %}
	  </ul>
	  {% else %}
	  <!-- user is authenticated, but belongs to no group: she must update her profile! -->
	<div id="userData">
	  <p class="name">{% trans 'Update your profile!' %}</p>
	</div>
	  {% endif %}
	</div>
	<div class="dropdown-content">
	  <a href="/accounts/profile/">
	    {% trans 'Modify your<br/>profile settings' %}
	  </a>
	  <a href="/accounts/logout/">{% trans 'Log out' %}</a>
	</div>
	{% else %}
	<div id="userData">
	  <p class="name"> {% trans 'Enter the website...' %}</p>
	</div>
	<div class="dropdown-content">
	  <a href="/accounts/login/">{% trans 'Login' %}</a>
	  <a href="/accounts/signup">{% trans 'Create<br/>an account' %}</a>
	</div>
	{% endif %}
      </div>

      <div class="dropdown">
	<div  class="dropbtn middleButton">
	  <a href="/">{% trans 'Welcome page' %}</a>
	</div>
      </div>
      <!-- links to other working pages -->
      <div class="dropdown">
	<div  class="dropbtn middleButton">
	  {% trans 'Experiments' %}
	</div>
	<div class="dropdown-content">
	  <a href="/exp0/remoteLab" class="ifgroup" data-group="visitor">
	    {% trans 'Access the remote experient' %}
	  </a>
	  <a href="/exp0/manage" class="ifgroup" data-group="scientist">
	    {% trans 'Manage my experiments' %}
	  </a>
	</div>
      </div>
      
      <!-- links to help, etc. -->
      <div class="dropdown">
	<div  class="dropbtn middleButton">
	  {% trans 'Help' %}
	</div>
	<div class="dropdown-content">
	  <a href="/about">{% trans 'About ...' %} </a>
	  <a href="/license">{% trans 'License' %}</a>
	  <a href="/manual">{% trans 'User manual' %}</a>
	</div>
	
      </div>
      
      <div class="clearBoth"> </div>
    </div>
    
    <input type="hidden" id="thegroups" name="thegroups" value="{{user.groups.all}}"/>
    {% endblock %}
    <div id=bodyContent>
    {% block content %}
    {% endblock %}
    </div>
    <div id=footerContent>
    {% block footer %}
    {% endblock %}
    </div>
  </body>
</html>
