{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Welcome to EYES17 experiments' %}
{% endblock %}

{% block content %}
<h1>{% trans 'Welcome to the application MENSU' %}</h1>
<p>
  {% blocktrans %}This application allows visitors to make experiments remotely.
  Depending on your status, you can access different pages.{% endblocktrans %}
</p>
<dl>
  <dt>{% trans 'Not authenticated guest' %}</dt>
  <dd>
    {% blocktrans %}When you are not yet authenticated, you can visit the home page
    (this page), create an account (as visitor) and read more about
    this web site's goal.{% endblocktrans %}
  </dd>
  <dt>{% trans 'Visitor' %}</dt>
  <dd>
    {% blocktrans %}When you are registered as a visitor, you can access more pages
    in this web site, the most interesting pages are:{% endblocktrans %}
    <ul>
      <li>
	{% blocktrans %}The experiment page: there, you can schedule a time slot to
	drive remotely the active experiment.{% endblocktrans %}
      </li>
      <li>
	{% blocktrans %}The results pages: for every experiment which you ordered
	remotely, there are data available for you: recordered measurements,
	and a short video file which shows the experiment running.{% endblocktrans %}
      </li>
      <li>
	{% blocktrans %}A collection of archived experiments: these are experiments
	which were prepared by the <b>scientists</b> in cherge of the server,
	which are not active at the time of the web request.{% endblocktrans %}
      </li>
      <li>
	{% blocktrans %}An asynchronous message system, and other communication
	media to exchange ideas between visitors and scientists{% endblocktrans %}
      </li>
    </ul>
  </dd>
  <dt>{% trans 'Scientist' %}</dt>
  <dd>
    <p>
      {% blocktrans %}A scientist can access all the contents above. She must first
      be a visitor, an request a subscription as scientist. This subscription
      cannot be done but when the website is served locally: that means
      that a scientist must have a physical access to the web server,
      which is also the computer which drives the experiments.{% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}As a scientist, you can create the demonstrations and
      experiments which will be available remotely from the server.{% endblocktrans %}
    </p>
  </dd>
</dl>
{% endblock %}
