{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'About MENSU' %}{% endblock %}

{% block content %}
<h1>{% trans "License's summary" %}</h1>
<p class="license">
  {% trans 'MENSU is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.' %}
</p>
<p class="license">
    {% trans 'This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.' %}
</p>
<p class="license">
    {% trans 'You should have received a copy of the GNU General Public License
    along with this program.  If not, see &lt;<a href="http://www.gnu.org/licenses/" target="_license">http://www.gnu.org/licenses/</a>&gt;.' %}
</p>
<h1>{% trans 'Owner and copyright' %}</h1>
<p class="license">
  {{version.copyright}}
</p>
<h1>{% trans 'The complete text of the license' %}</h1>
<pre class="license">{{license}}</pre>
{% endblock %}
