{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Your profile' %}
{% endblock %}


{% block content %}
<div id="welcomeUser">
<h1>{% trans 'Welcome' %} {{user}}</h1>
{% if user.groups.all %}
<!-- the user has been at least subscribed to one group -->
<p>{% trans 'Your profile is currently complete, you are member of the group(s):' %}</p>
<ul>
{% for g in user.groups.all %}
<li>{{g}}</li>
{% endfor %}
</ul>
{% trans 'You can still modify your profile below.' %}
{% else %}
<p>
  {% blocktrans %}
  Please make your profile more complete, as we must know whether
  you are a robot, or somebody able to be granted the "visitor"
  permission.
  {% endblocktrans %}
</p>
{% endif %}
</div>
<hr style="margin: 10px;"/>
<form method="post" enctype="multipart/form-data" >
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit"
	 {% if email.verified %}
	 value="{% trans 'Validate' %}"
	 {% else %}
	 value="{% trans 'Validate and post confirmation e-mail' %}"
	 {% endif %}
	 />
</form>
<div id="hiddenMessage">{% trans 'Choose new image?' %}</div>

<script type="text/javascript">
  if ("{{image}}" != "None"){
  $("label[for='id_image']").html("<img src='{{media_url}}/{{image}}' alt='my image' style='height: 120px;'/>");
  var d= $("<div>").text($("#hiddenMessage").text());
  d.insertBefore($("#id_image"));
  }
</script>

{% endblock %}
